<!-- INCLUDE overall_header.html -->



<!-- INCLUDE forumlist_body.html -->
<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->

	<!-- IF S_DISPLAY_SEARCH -->
	<div><strong>
		<div>
		<i class="icon-eye-open icon-large"></i> View Posts:
		<a href="{U_SEARCH_UNANSWERED}" class="bluegreen">Unanswered</a>,
		<!-- IF S_LOAD_UNREADS -->
		<a href="{U_SEARCH_UNREAD}"class="blue">Unread</a>,
		<!-- ENDIF -->
		<!-- IF S_USER_LOGGED_IN -->
		<a href="{U_SEARCH_NEW}"class="purple">New</a>
		<!-- ENDIF -->
		</div>
		<a href="{U_SEARCH_ACTIVE_TOPICS}" class="orange"><div><i class="icon-eye-open icon-large"></i> View Active Topics</div></a>
		<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
		<a href="{U_MARK_FORUMS}" accesskey="m" class="red"><div><i class="icon-check icon-large"></i> Mark All Posts Read</div></a>
		<!-- ENDIF -->
		</strong>
	</div>
	<!-- ENDIF -->

<!-- ENDIF -->
<!-- IF S_DISPLAY_ONLINE_LIST -->
	<!-- IF U_VIEWONLINE --><h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3><!-- ELSE --><h3>{L_WHO_IS_ONLINE}</h3><!-- ENDIF -->
	<p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
	<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF --></p>
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
	<h3>{L_BIRTHDAYS}</h3>
	<p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
<!-- ENDIF -->

<!-- IF NEWEST_USER -->
	<h3>{L_STATISTICS}</h3>
	<p>{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}</p>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->