/* Coalition Global Menu
---------------------------------------- */
#globaltop{
	width:100%;
	min-width:650px;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
}
#globalmenuwrap {
	background: #595959;
	height:40px;
	width:100%;
	margin: 0 auto;
	line-height:40px;
}
#globalmenu {
	width:100%;
	margin: 0 auto;
}
#menu {
	float:left;
	position:relative;
	padding: 4px 0 0 10px;
}

#globaluserwrap {
	margin:40px -195px 0 0;
	position:relative;
	float:right;
	display:block;
}
#globaluserleft {
	float:left;
	margin:0 0 0 -30px;
	background: url("{T_THEME_PATH}/images/curveleft.png");
	height:30px;
	width:30px;
}
#globaluser {
	background: #595959;
	height:30px;
	padding: 0 10px 5px 10px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;

}
#globaluserright {
	float:right;
	margin:0 -30px 0 0;
	background: url("{T_THEME_PATH}/images/curveright.png");
	height:30px;
	width:30px;
}
#globaluser a {
	padding:5px;
}